/* --- Reset --- */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}
/* --- Reset --- */

/* --- Variables --- */
:root {
    --bg-img-layer: -10;
    --nav-layer: 10;
    
}
/* --- Variables --- */

nav {
    background-color: gray;
    border-bottom: solid black 3px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
nav p {
    margin: 10px;
    font-weight: bolder;
}
nav input {
    font-weight: bold;
    margin: 10px;
    width: 50px;
}

footer {
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 30px;

}
main section{
    border: 3px black solid;
    margin: 10px;
    padding: 30px 0px 30px 10px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 30%;
    min-width: 300px;
    position: relative;

}
section input {
    position: absolute;
    bottom:-15px;
    right: -20px;
    width: 80px;
    height: 30px;
}